---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { HomeHeader } from '../components/HomeHeader';
import TailwindIndicator from '../components/TailwindIndicator.astro';
import DarkMode from '../layouts/DarkMode.astro';
import '@fontsource/sora';
---

<!DOCTYPE html>
<html lang="en" class="h-full max-w-7xl mx-auto">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<!-- bg-gradient-to-b from-slate-200 to-slate-300 dark:from-stone-500 dark:to-stone-600 -->
	<body class="h-full bg-stone-300 dark:bg-stone-800  transition-all ease-in-out duration-300">
		<HomeHeader client:only />
		<main>
			<section class="w-[calc(100%-4rem)] mx-auto bg-stone-700 dark:bg-stone-400 rounded-lg xl:rounded-2xl p-12 space-y-2 mt-12">
				<h2 class="font-semibold text-2xl leading-tight dark:text-stone-700 text-stone-300">Welcome to my space on the internet!</h2>
				<h3 class="dark:text-stone-700 text-stone-300">I made this site to showcase my projects and gibber about things I want.</h3>
				<p class="dark:text-stone-700 text-stone-300">I Hope you find some fun here!</p>
			</section>
		</main>
		<!-- <Footer /> -->
		<TailwindIndicator />
		<DarkMode />
	</body>
</html>