---

---

<div class="absolute inset-0 bottom-1/2 overflow-hidden z-[-1]">
	<div class="relative h-full w-full">
		<div class="absolute inset-0 bg-[url('/images/doodle-light.jpg')] dark:bg-[url('/images/doodle-dark.jpg')] bg-repeat-x bg-[length:400px_400px] blur-xl" />
		<div class="relative h-full w-full bg-gradient-to-t from-slate-100 dark:from-slate-900 to-transparent" />
	</div>
</div>